<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <link rel="stylesheet" href="assets/css/style.css">
  <title>Boolzapp</title>
</head>
<body>
  
  <div id="app" class="container">
    
    <aside class="left">

      <header>
        <section class="user">
          <img 
            :src="'assets/img/avatar'+ user.avatar +'.jpg' " :alt="user.name"
          >
          <span>{{user.name}}</span>
        </section>

        <section class="action">
          <i class="fas fa-circle-notch"></i>
          <i class="fas fa-comment-alt"></i>
          <i class="fas fa-ellipsis-v"></i>
        </section>
      </header>

      <main>
        <section class="top">

          <i class="fas fa-bell-slash"></i>
          <div class="top-text">
            <p>Ricevi notifiche di nuovi messaggi</p>
            <span>Attiva notifiche di desktop</span>
          </div>
          
        </section>

        <section class="main-input">

          <i class="fas fa-search"></i>
          <input type="text" placeholder="Cerca o inizia una nuova chat">

        </section>

        <section class="contacts-list">

          <ul>
            <li
              v-for="(contact, index) in contacts"
              @click="getMessages(index)"
            >
              <img 
                :src="'assets/img/avatar' + contact.avatar + '.jpg'"
              >
              <span>{{contact.name}}</span>
            </li>
  
          </ul>

        </section>
        
      </main>



    </aside>

    <main class="right">
      
      <header>

        <section class="user"
          v-for="(contact, index) in contacts"
          v-if="(contact.visible)"
        >
          <img :src="'assets/img/avatar' + contact.avatar +'.jpg'" :alt="contact.name">
          <div class="user-text">
            <span>{{contact.name}}</span>
            <span>Ultimo accesso oggi alle</span>
          </div>
          
        </section>

        <section class="action">
          <i class="fas fa-circle-notch"></i>
          <i class="fas fa-paperclip"></i>          
          <i class="fas fa-ellipsis-v"></i>
        </section>

      </header>

      <section class="box-msg">

        <!-- usto template per componenti dinamici -->
        <template 
          v-for="(contact, index) in contacts"
        >
          <div 
            class="msg"
            v-for="message in contact.messages"
            v-if="contact.visible"
            :class="message.status"  
          >
            <span>{{message.text}}</span>
            <i class="fas fa-chevron-down"></i> 
            <span class="text-time">{{message.date}}</span>
          </div>

        </template>
        <!-- fine template -->

      </section>

      <footer>
        <i class="far fa-smile"></i>
        <input type="text" placeholder="Scrivi un messaggio">
        <i class="fas fa-microphone"></i>
      </footer>
      
    </main>

  </div>

  <script src="assets/js/script.js"></script>
</body>
</html>