<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <link rel="stylesheet" href="assets/css/style.css">
  <title>Boolzapp</title>
</head>
<body>
  
  <div id="app" class="container">
    
    <aside class="left">

      <header>
        <section class="user">
          <img 
            :src="'assets/img/avatar'+ user.avatar +'.jpg' " :alt="user.name"
          >
          <span>{{user.name}}</span>
        </section>

        <section class="action">
          <i class="fas fa-circle-notch"></i>
          <i class="fas fa-comment-alt"></i>
          <i class="fas fa-ellipsis-v"></i>
        </section>
      </header>

      <main>
        <section class="top">

          <i class="fas fa-bell-slash"></i>
          <div class="top-text">
            <p>Ricevi notifiche di nuovi messaggi</p>
            <span>Attiva notifiche di desktop</span>
          </div>
          
        </section>

        <section class="main-input">

          <i class="fas fa-search"></i>
          <input 
            type="text" 
            placeholder="Cerca o inizia una nuova chat"
            v-model="search"
            @keyup="filteredContacts(search)"
          >

        </section>

        <section class="contacts-list">

          <ul>
            <li
              v-for="(contact, index) in contacts"
              @click="getMessages(index)"
              :class="(index === activeUser) ? 'active' : null"
              v-if="contact.visible === true"
            >
              <img 
                :src="'assets/img/avatar' + contact.avatar + '.jpg'"
              >
            
              <span>{{contact.name}}</span>
              <span class="user-text ellipsis">{{lastMessage(index)}}</span>
              <span class="user-date ellipsis">{{lastAccess(index)}}</span>
              
            </li>
  
          </ul>

        </section>
        
      </main>



    </aside>

    <main class="right">
      
      <header>

        <section class="user">
          <img :src="'assets/img/avatar' + contacts[activeUser].avatar +'.jpg'" :alt="contacts[activeUser].name">
          <div class="user-text">
            <span>{{contacts[activeUser].name}}</span>
            <span>Ultimo accesso oggi alle {{lastAccess(activeUser)}}</span>
            
          </div>
          
        </section>

        <section class="action">
          <i class="fas fa-circle-notch"></i>
          <i class="fas fa-paperclip"></i>          
          <i class="fas fa-ellipsis-v"></i>
        </section>

      </header>

      <section class="box-msg">

        <!-- uso template per componenti dinamici -->
        <template>

          <div 
            class="msg"
            v-for="(message, index) in contacts[activeUser].messages"
            :class="message.status"  
          >
            <span class="message-text">{{message.text}}</span>
            <i class="fas fa-chevron-down"
              @click="message.delete = !message.delete"
            ></i> 
            <span class="text-time">{{message.date}}</span>
            <div class="delete-msg"
              :class="(message.delete) ? 'visible' : null"
            >
              <span>Info messaggio</span>
              <span
                @click="deleteMessage(index)"
              >Cancella messaggio</span>
            </div>
          </div>

        </template>
        <!-- fine template -->

      </section>

      <footer>
        <i class="far fa-smile"></i>
        <input type="text" placeholder="Scrivi un messaggio"
          v-model.trim="messageUser"
          @keyup.enter="newMessage()"
        >
        <i class="fas fa-microphone"></i>
      </footer>
      
    </main>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.4/dayjs.min.js"></script>
  <script src="assets/js/script.js"></script>
</body>
</html>